
.row{
    background: white;
    margin: 30px;
}
.searchBox{
    background: white;
}
body{
    background: url("../jpg/background.jpg") no-repeat;
    height:100%;
    width:100%;
    /*overflow: hidden;*/
    background-size:cover;
}
.media-object{
    width: 38px;
    height: 38px;
}

.a,.b,.c,.pageControl,.pageJump{
    float: left;
}
.pageControl{
    display: inline-block;
}

.pageJump{
    margin-top: 25px;
    margin-left: 10px;
}
a{
    color: #0f0f0f;
}