<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ACU</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="main">
    <div class="row">
        <div class="col-md-9">
            <h2><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">帖子</span></h2>
            <hr>
            <div class="media" th:each="user_message:${messageDTOList}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" th:src="${user_message.getUser().getAvatar_url()}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${user_message.getTitle()}">问题标题</h4>
                    <blockquote>
                        <p th:text="${user_message.getContent()}">问题描述</p>
                        <footer>
                            回复数:<span th:text="${user_message.getComment()}"></span>
                            点击数:<span th:text="${user_message.getClicks()}"></span>
                            时间:<span th:text="${#dates.format(user_message.getGmt_create(),'dd MMMM yyyy')}"></span>
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="pageControl">
                <nav aria-label="Page navigation">

                    <ul th:if="${ messageDTOList[0].getTotal_page() } == ${ page }" class="pagination">
                        <li><a th:href="@{/(page=1)}">首页</a></li>
                        <li><a th:href="@{/(page=${ page - 1})}">上一页</a></li>
                    </ul>


                    <ul th:if="${ page } == 1" class="pagination">
                        <li><a th:href="@{/(page=${ page + 1})}">下一页</a></li>
                        <li><a th:href="@{/(page=${ messageDTOList [0].getTotal_page()})}">尾页</a></li>

                    </ul>

                    <ul th:if="${ page } > 1 and ${ page } < ${messageDTOList [0].getTotal_page()}" class="pagination">
                        <li><a th:href="@{/(page=1)}">首页</a></li>
                        <li><a th:href="@{/(page=${ page - 1})}">上一页</a></li>
                        <li><a th:href="@{/(page=${ page + 1})}">下一页</a></li>
                        <li><a th:href="@{/(page=${ messageDTOList[0].getTotal_page()})}">尾页</a></li>
                    </ul>

                </nav>
            </div>

            <div class="pageJump">
                <form th:action="@{/(page=${page})}" >
                    <div class="a" style="width: 30px;height: 60px">
                    <input type="text" name="myPage" style="width:30px;height: 20px" th:value="${page}">
                    </div>
                    <div class="b" th:text="'/'+${messageDTOList[0].getTotal_page()}+页"></div>
                    <div class="c">
                    <input type="submit" class="btn-success" th:value="跳转">
                    </div>

                </form>
            </div>
        </div>
        <div class="col-md-3">
            <h2><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true">热门话题</span></h2>
            <hr>
        </div>
    </div>
</div>


</body>
</html>