<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}">profile</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="navigation::nav"></div>
<div class="main">
    <div class="row">
        <div class="col-md-3">
            <h2><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true">热门话题</span></h2>
            <hr>
            <div class="list-group">
                <a href="/profile/question" th:class="${section == 'question'}?'active list-group-item':'list-group-item'">我的帖子</a>
                <a href="/profile/replies" th:class="${section == 'replies'}?'active list-group-item':'list-group-item'">我的回复</a>
                <a href="/profile/mentions" th:class="${section == 'mentions'}?'active list-group-item':'list-group-item'">
                    提及我的
                    <span class="badge">10</span>
                </a>
                <a href="/profile/letters" th:class="${section == 'letters'}?'active list-group-item':'list-group-item'">私信</a>
            </div>
        </div>
        <div class="col-md-9">
            <h2><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">帖子</span></h2>
            <hr>
            <div class="media" th:each="user_message:${messageDTOList}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" th:src="${user_message.getUser().getAvatar_url()}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${user_message.getTitle()}">问题标题</h4>
                    <blockquote>
                        <p th:text="${user_message.getContent()}">问题描述</p>
                        <footer>
                            回复数:<span th:text="${user_message.getComment()}"></span>
                            点击数:<span th:text="${user_message.getClicks()}"></span>
                            时间:<span th:text="${#dates.format(user_message.getGmt_create(),'dd MMMM yyyy')}"></span>
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="pageControl">
                <nav aria-label="Page navigation">

                    <ul th:if="${ messageDTOList[0].getTotal_page() } == ${ page } and ${messageDTOList[0].getTotal_page() != 1}" class="pagination">
                        <li><a th:href="@{'/profile/'+${section}(page=1)}">首页</a></li>
                        <li><a th:href="@{'/profile/'+${section}(page=${ page - 1})}">上一页</a></li>
                    </ul>


                    <ul th:if="${ page } == 1 and ${messageDTOList[0].getTotal_page() != 1}" class="pagination">
                        <li><a th:href="@{'/profile/'+${section}(page=${ page + 1})}">下一页</a></li>
                        <li><a th:href="@{'/profile/'+${section}(page=${ messageDTOList[0].getTotal_page()})}">尾页</a></li>

                    </ul>

                    <ul th:if="${ page } > 1 and ${ page } < ${messageDTOList[0].getTotal_page()}" class="pagination">
                        <li><a th:href="@{'/profile/'+${section}(page=1)}">首页</a></li>
                        <li><a th:href="@{'/profile/'+${section}(page=${ page - 1})}">上一页</a></li>
                        <li><a th:href="@{'/profile/'+${section}(page=${ page + 1})}">下一页</a></li>
                        <li><a th:href="@{'/profile/'+${section}(page=${ messageDTOList[0].getTotal_page()})}">尾页</a></li>
                    </ul>

                    <ul class="pagination">
                        <li><a th:text="${page}+'/'+${messageDTOList[0].getTotal_page()}+页"></a></li>
                    </ul>

                </nav>
            </div>




            </div>
        </div>
    </div>
</div>
</body>
</html>